




.ant-modal-body {
    padding: 0;
}

.ant-picker-body {
    margin: 20px;
}

.fixedBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10;

}

.ant-menu-light {
    max-height: 200px;
}

.time {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    cursor: pointer;

    .hour {
        font-size: 60px;
    }
}

.popup {
    width: 80px;
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: rgba(2, 2, 2, 0.671);
    color: white;
    border-radius: 5px;
}

.popup-box {
    opacity: 0.8;
    /* 元素及其内容的透明度为 50% */
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.popup-box:hover {
    background-color: #424240;
}

.popup-open {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    pointer-events: auto;
}


.oneBackground {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .oneWeek {
        font-size: 14px;
        color: #d83030;
    }

    .day {
        font-size: 16px;
        font-weight: 600;
    }
}